@font-face {
    font-family: 'pf_beausans_problack';
    src: url('../fonts/pfbeausanspro-black-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_beausans_problack_italic';
    src: url('../fonts/pfbeausanspro-blackital-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-blackital-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_beausans_probold';
    src: url('../fonts/pfbeausanspro-bold-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_beausans_probold_italic';
    src: url('../fonts/pfbeausanspro-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_beausans_probbook';
    src: url('../fonts/pfbeausanspro-book-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_beausans_probbook_italic';
    src: url('../fonts/pfbeausanspro-bookitalic-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_beausans_proitalic';
    src: url('../fonts/pfbeausanspro-italic-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_beausans_prolight';
    src: url('../fonts/pfbeausanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_beausans_prolight_italic';
    src: url('../fonts/pfbeausanspro-lightital-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-lightital-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_beausans_proregular';
    src: url('../fonts/pfbeausanspro-reg-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_beausans_prosemibold';
    src: url('../fonts/pfbeausanspro-sebold-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-sebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_beausans_proSBdIt';
    src: url('../fonts/pfbeausanspro-seboldital-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-seboldital-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_dintext_promedium';
    src: url('../fonts/pfdintextpro-medium-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextpro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/rouble-webfont.woff2') format('woff2'),
         url('../fonts/rouble-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
