.basket#App
  .basket__top-line
    .basket__top-line_left
      span.text Выделено 
      span.number#countOfChecks
    a(href="#").basket__top-line_right#deleteItems
      i.fa.fa-window-close
      span.text Удалить отмеченные
  .basket__desc
    table.basket__list

  .basket__footer
    .basket__footer-top
      p.basket__footer-raw
        span.basket__footer-text Промежуточный итог по корзине:
        span.basket__footer-price#subTotal
      p.basket__footer-raw
        span.basket__footer-text В том числе НДС:
        span.basket__footer-price#taxTotal
    .basket__footer-bottom
      p.dot-line
      p.basket__footer-total
        span.basket__footer-total_text Итого:
        span.basket__footer-total_price#totalPrice

  | <script id="item-template" type="text/x-handlebars-template">
  |   {{#each items}}
  |     <tr class='basket__item'>
  |      <td class="basket__item-enum">
  |        <label class="basket__item-checkbox" for="check_{{id}}">
  |          <input class="visuallyhidden checkbox" type="checkbox" name="check" id="check_{{id}}">
  |           <span class="checkbox-template"></span>
  |        </label>
  |        <td class="basket__item-id">{{inc @index}}</td>
  |       </td>
  |       <td class="basket__item-icon"><img class="basket__item-img" src="{{img}}" alt="{{name}}"></td>
  |       <td class="basket__item-desc">{{name}}</td>
  |      <td class="basket__item-price_one"><nobr>{{price}} р</nobr></td>
  |      <td class="basket__item-price_one">X</td>
  |      <td><input class="input basket__item-input" id="count" value="{{count}}" data-id="{{@index}}" data-name="{{name}}" data-price="{{price}}"></td>
  |      <td class="basket__item-price_one">=</td>
  |      <td class="basket__item-price_total"><nobr id="total"></nobr></td>
  |     </tr>
  |   {{/each}}
  | </script>