extends ../template

block content
  .wrapper
    .container
      header.header
        a(href="#").header__logo
          img.header__logo_img(src="./images/logo.png", alt="logo")
        .header__search
          .header__search_input
            label(for="search").search__icon
              i.fa.fa-search
            input(id="search" name="search").input.search__input
          .header__search_btn
            label.search__btn(for="save-btn" id="search-btn")
              button.visuallyhidden(type="submit")
              .search__btn_template#search-btn Поиск
      nav.menu
        ul.menu__list
          -
            var menu = [
              {
                name: 'каталог продукции',
                link: '#'
              },{
                name: 'все бренды',
                link: '#'
              },{
                name: 'подарки на 14 февраля',
                link: '#'
              },{
                name: 'подарки на 14 февраля',
                link: '#'
              },{
                name: 'подарки на 8 марта',
                link: '#'
              }
            ]
          each item in menu
            li.menu__item
              a.menu__link(href=`${item.link}`) #{item.name}
              i.i.fa.fa-angle-down

      main.main-content
        nav.main-content__breadcrumbs.breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item 
              a(href="#").breadcrumbs__link.breadcrumbs__link_active Главная
            li.breadcrumbs__item 
              a(href="#").breadcrumbs__link Корзина
        h2.main-content__title корзина
        .main-content__desc
          include ../common/App.pug
  script(id='overlayTemplate' type='template')
    .overlay
      .overlay__title Изменить количество
      .overlay__desc
        span.overlay__text#price
        .overlay__square-shape#minus -
        input.input.overlay__input#overlayCount(type="text" value="1")
        .overlay__square-shape#plus +
        span.overlay__text#overlayTotal
      .overlay__controls
        a(href="#").overlay__link.overlay__link_blue#saveButton Сохранить
        a(href="#").overlay__link#closeOverlay Отменить