.basket__top-line {
  display: flex;
  padding: 11.5px 16px;
  justify-content: space-between;
  background-color: #d9e8ef;
}

.basket__top-line_left {
  color: #333333;

  .text {
    font-family: "pf_beausans_probbook", Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .number {
    font-family: "pf_beausans_prosemibold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
}

.basket__top-line_right {
  i {
    color: #7f7f7f;
    font-size: 20px;
    margin-right: 7px;
    border-radius: 6px;
    vertical-align: middle;
  }

  .text {
    color: #333333;
    text-decoration: underline;
    font-family: "pf_beausans_probbook", Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
}

.basket__list {
  padding-bottom: 18px;
  padding-top: 2px;
  border-bottom: 1px solid #e5e5e5;
}

.basket__item {
  display: flex;
  min-height: 72px;

  &:nth-child(2n) {
    background: #f1f1f1;
   } 
}

.basket__item-enum {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.checkbox-template {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  background-color: #fefefe;
  vertical-align: middle;
}

.basket__item-checkbox {
  display: flex;
  margin-right: 20px;
}

input[type="checkbox"]:checked + .checkbox-template {
  &::before {
    content: "";
    position: absolute;
    background-image: url('../images/check.png');
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
}

.basket__item-icon {
  overflow: hidden;
  width: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-left: dotted 1px #454545;
  margin: .5px 0;
}

.basket__item-desc {
  max-width: 628px;
  flex: 1;
  padding: 0 27px;
  display: flex;
  align-items: center;
  color: #252525;
  border-left: dotted 1px #454545;
  margin: .5px 0;
}

.basket__item-price {
  min-width: 302px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-left: dotted 1px #454545;
  margin: .5px 0;

  span {
    padding: 0 5px;
  }
}

.basket__item-input {
  width: 50px;
  text-align: center;
}

.basket__footer {
  margin-right: 20px;
}

.basket__footer-top {
  text-align: right;
  margin: 26px 0;
}

.basket__footer-bottom {
  text-align: right;
}

.basket__footer-raw {
  margin: 16px 0;
}

.basket__footer-text {
  margin-right: 46px;
}

.basket__footer-price {
  font-size: 18px;
  font-weight: bold;
}

.dot-line {
  border-bottom: 1px dotted;
  width: 96%;
}

.basket__footer-total {
  font-family: "pf_beausans_prolight", Arial, Helvetica, sans-serif;
  color: $blue-dark;
  margin-top: 20px;
}

.basket__footer-total_text {
  font-size: 14px;
  font-weight: 400;
  margin-right: 12px;
  text-transform: uppercase;
}

.basket__footer-total_price {
  font-size: 24px;
  font-weight: bold;
}