.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item {

  &:last-child {
    &::after {
      content: "";
    }
  }
  &::after {
    padding: 0 8px;
    content: "/";
  }
}

.breadcrumbs__link {
  font-size: 14px;
  color: #333333;
  transition: .3s;

  &:hover {
    text-decoration: underline;
  }

  &_active {
    text-decoration: underline;
  }
}