.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 11px;
  padding-top: 32px;
  padding-bottom: 38px;
}

.header__logo {
  width: 217px;
  height: 57px;
}

.header__search {
  display: flex;
  justify-content: space-between;
  width: 390px;
  height: 28px;
  margin-top: 28px;
}

.header__search_input {
  position: relative;
  flex: 1;
  display: flex;
  margin-right: 7px;
}