.menu__list {
  overflow: hidden;
  background-color: $blue;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.menu__item {
  padding: 16px 0;
  display: flex;
  background: linear-gradient(270deg, $blue-light, $blue);
  border-top-right-radius: 6px;

  &:first-child {
    display: flex;
    justify-content: space-between;
    flex: 1;
    border: 1px solid #cecece;
    padding-left: 18px;
    padding-right: 6px;
  }

  i {
    color: #4b4b4b;
    margin-right: 6px;
  }
}

.menu__link {
  font-size: 16px;
  margin-right: 11px;
  margin-left: 18px;
  font-family: "pf_beausans_prolight", Arial, Helvetica, sans-serif;
  color: #4b4b4b;
  text-transform: uppercase;
  transition: .3s;

  &:hover {
    text-decoration: underline;
    color: $blue-dark;
  }
}

.main-content {
  margin-top: 50px;
}

.main-content__breadcrumbs {
  margin-left: 2px;
}